.box {
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
    min-height: 350px;
    height: 100%;
    margin: 20px;
    margin-top: 100px;
}

.box__header {
    display: flex;
    justify-content: center;
}

.box__title {
    display: flex;
    width: 100%;
    background-color: rgb(221, 223, 225);
    margin: 0;
    padding: 15px 0;

}

.box__addTask {
    display: flex;
    flex-wrap: wrap;
    background-color: white; 
    padding-bottom: 10px;
    box-shadow: 8px 8px 15px -9px rgba(66, 68, 90, 1);
 
}

.box__headerTitle {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    border-bottom: 2px solid rgb(221, 223, 225);
    max-width: 800px;
    width: 100%
}

.box__taskInput {
    flex-grow: 1;
    margin: 25px;
    height: 35px;
}
@media (max-width: 450px) {
    .box__taskInput {
        max-width: 450px;
        width: 100%;
        margin: 25px;
        height: 35px;
    }
}

.box__submitButton {
    margin: 25px;
    margin-left: 0;
    height: 35px;
    background-color: teal;
    color: white;
    border: none;
}
.box__submitButton:hover {
    background-color: rgb(9, 153, 153); 
}
@media (max-width: 450px) {
    .box__submitButton {
        margin: auto;
        min-height: 35px;
        height: 100%;
        
    }
}

.box__taskList {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 8px 8px 15px -9px rgba(66, 68, 90, 1);
  
}