.taskList__main {
    margin-top: 15px;
    background-color: white;
    box-shadow: 1px 1px 3px -1px rgba(168, 168, 190, 1);
}

.taskList__topSection {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(221, 223, 225);
    height: fit-content;
}

@media (max-width: 550px) {
    .taskList__topSection {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.taskList__header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 20px;
    font-size: 20px;
    min-width: 160px;
    max-width: 1000px;
    width: 100%;
}

@media (max-width: 360px) {
    .taskList__header {
        justify-content: center;
    }
}

.taskList__list {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

.taskList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 2px solid rgb(221, 223, 225);
    padding: 5px;
}

.taskList__content {
    text-decoration: none;
}

.taskList__contentDone {
    text-decoration: line-through;
}

.taskList__toggleButton {
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgb(23, 162, 10);
    color: white;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.taskList__toggleButton:hover {
    background-color: rgb(24, 174, 10);
}

.taskList__toggleButton:active {
    background-color: rgb(17, 199, 0);
}

.taskList__removeButton {
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgb(229, 8, 8);
    color: white;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.taskList__removeButton:hover {
    background-color: rgb(242, 0, 0);
}

.taskList__removeButton {
    background-color: rgb(236, 54, 54);
}

.taskList__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

@media (max-width: 360px) {
    .taskList__buttons {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0;
    }
}


.taskList__button {
    background: none;
    color: teal;
    border: none;
    width: 165px;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
}


.taskList__button:hover {
    color: rgb(20, 195, 195);
}


.taskList__button:disabled {
    color: rgb(130, 125, 125);
}

.taskList__item--hidden {
    display: none;
}